<h2 style="font-family: 'Times New Roman'; font-weight: bold;">Edit Category</h2>
<br />
<br />
<h1>@ViewBag.Category.CategoryName</h1>


<form method="post" action="/Categories/Edit/@ViewBag.Category.CategoryId">
    <label>Category Name</label>
    <br /> <input type="text" name="CategoryName" value="@ViewBag.Category.CategoryName" />
    <br />
    <br />

    <button class="btn btn-success" type="submit">Modify Category</button>

</form>


<br />
<br />
<a class="btn btn-outline-primary" href="/Categories/Index">Back to Categories</a>