@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <p style="font-family:Serif; font-size:30px">Hello, User! We will help you decide what activity you will enjoy tonight.</p>
    <br/>
    <p>To start, please press "See categories"</p>
    <br/>
    <a class="btn btn-outline-dark" href="/Categories/Index" style="font-size:50px">See categories</a>
</div>

@*<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Welcome</h1>
    <h3 class="mb-3">Hello, User! We will help you decide what activity you will enjoy tonight.</h3>
    <p class="mb-3">To start, please press "See categories"</p>
    <a class="btn btn-primary" href="/Categories/Index" role="button">See categories</a>
</div>*@