@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <p style="font-family:Serif; font-size:30px">Hello, User! We will help you decide what activity you will enjoy tonight.</p>
    <br/>
    <p>To start, please press "See categories"</p>
    <br/>
    <a class="btn btn-outline-dark" href="/Categories/Index" style="font-size:50px">See categories</a>
</div>
